<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/puma-2-1.png" width="600px" alt="I'm a dachsund">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Messages</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Message</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="message in $ctrl.awesomeMessages">
            <th scope="row">{{message.id}}</th>
            <td>{{message.name}}</td>
            <td>{{message.message}}</td>
            <td>
              <button type="button" class="close" ng-click="$ctrl.deleteMessage(message)">&times;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-push-3">
      <form>
        <fieldset>
          <legend>Add new message</legend>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Number</label>
                <input type="number" class="form-control" ng-model="$ctrl.newNumber">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="$ctrl.newName">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" ng-model="$ctrl.newMessage">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addMessage()">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>

</div>
